<!DOCTYPE html>
<html ⚡>
<head>
<meta charset="utf-8">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>
{{ block "title" . }}
  {{ .Site.Title }}
{{ end }}
</title>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">

{{ partial "css.html" . }}

{{ block "schema" . }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .PublishDate }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Params.publisher }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}/favicon.ico"
    }
  },
  "dateModified": "{{ .Lastmod }}",
  "mainEntityOfPage": "1",
  "image": {
    "@type": "ImageObject",
    "url": "{{ .Site.BaseURL }}/dummy.png",
    "width": "100",
    "height": "100"
  }
}
</script>
{{ end }}

{{ block "twitter-card" . }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
{{ end }}

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{{ block "amp-custom-elements" . }}
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{{ end }}
<script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body style="padding-left: 5px; padding-right: 5px;">
<div id="container">

<header style="display: flex; align-items: baseline;">
  <h1 style="line-height: 0px;"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  <h2 style="margin-left: 10px;">{{ .Site.Params.description }}</h2>
  <h3 style="align-self: flex-end; margin-left: auto; margin-right: 10px;"><a href="{{ .Site.BaseURL }}site/about">about</a></h3>
</header>

<aside>
{{ block "side" . }}{{ end }}
</aside>

<div>
{{ block "main" . }}{{ end }}
</div>

<footer>
{{ block "footer" . }}
  <p>{{ .Site.Params.copyright }}<p>
  <p>Powered by {{ .Site.Params.poweredby }}<p>
  <p><a href="https://twitter.com/twihamatter">Twitter</a></p>
  <p><a href="https://plus.google.com/u/0/111668640363056183135">Google+</a></p>
{{ end }}
{{ block "analytics" . }}
<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "{{ .Site.GoogleAnalytics }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
{{ end }}
</footer>

</div>
</body>
</html>
