{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "version" }}
  {{ if isset .Params "version" }}
    &ndash;&nbsp;v{{ .Params.version }}
  {{ end }}
{{ end }}

{{ define "main" }}
<article>
{{ block "article" . }}
 <h1><a href="{{ .Permalink }}">{{ .Title }}</a>{{ block "version" . }}{{ end }}</h1>
 <div>
  {{ .Content }}
 </div>
{{ end }}
</article>
<div class="blog-date">
  {{ .PublishDate.Format "2006/01/02 15:04:05" }} - {{ .Lastmod.Format "2006/01/02 15:04:05" }}
</div>
<amp-ad type="adsense"
  layout="responsive"
  width=300
  height=250
  data-ad-client="ca-pub-3395565787038716"
  data-ad-slot="6078244818">
</amp-ad>
{{ end }}