{{ define "side" }}
<section>
  <h2 class="section-title">Category.</h2>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  {{ range $key, $value := $taxonomy }}
    <article class="{{ $key }}" style="background-color: #CCC; padding: 5px; margin-right: 10px; border-radius: 8px; border: 2px solid #999">
      <a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize }}" style="text-decoration: none; color: inherit;">
        {{ $key }} ({{ $value.Count }})
      </a>
    </article>
  {{ end }}
  {{ end }}
  </div>
</section>

<section>
  {{ block "lastmodified" . }}
  <h2 class="section-title">Last modified.</h2>
  <div>
    {{ range first 5 .Data.Pages.ByLastmod.Reverse }}
    <article style="">
      <div class="{{ .Params.categories }}">
        <div class="index-datetime">{{ .Lastmod.Format "2006/01/02 15:04:05" }}</div>
        <a style="text-decoration: none; color: inherit;" href="{{ .Permalink }}">
          <h3>
            {{ .Params.categories }} {{ .Title }}
              {{ if isset .Params "version" }}&ndash;&nbsp;v{{ .Params.version }}{{ end }}
          </h3>
        </a>
      </div>
    </article>
    <hr style="border: 0; height: 1px; background-image: linear-gradient(to left, white, black, white);">
    {{ end }}
  </div>
  {{ end }}
</section>
{{ end }}

{{ define "main" }}
<section style="padding-left: 10px;">
  <h2 class="section-title">Contents index.</h2>
  <div style="display: flex; flex-wrap: wrap;">
    {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
    {{ range $paginator.Pages }}
    <div class="{{ .Params.categories }}">
      <article style="margin: 0 0 10px 10px; padding: 5px; border: 2px solid #999; border-radius: 8px; width: 300px; height: 400px; overflow: hidden;">
        <div class="index-datetime">{{ .Lastmod.Format "2006/01/02 15:04:05" }}</div>
        <a style="text-decoration: none; color: inherit;" href="{{ .Permalink }}">
          <h3>{{ .Params.categories }} {{ .Title }}{{ if isset .Params "version" }}&ndash;&nbsp;v{{ .Params.version }}{{ end }}</h3>
        </a>
        <pre style="overflow: hidden; border: 0; margin-left: 0px;">{{ .Summary }}</pre>
      </article>
    </div>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</section>
{{ end }}
