<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b165a98efeba4cb1b59abad01b4f09aa"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<meta name="google-site-verification" content="8wlB1FsTzNsatETYA3ALB7lWJJdjldAvpDJvbX4lFuc" />

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<!-- end custom head snippets -->
