<!DOCTYPE html>
<html ⚡>
<head>
<meta charset="utf-8">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>
{{ block "title" . }}
  {{ .Site.Title }}
{{ end }}
</title>
{{ partial "header.html" }}
{{ partial "css.html" . }}
{{ block "schema" . }}
{{ end }}
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{{ block "amp-custom-elements" . }}
{{ end }}
<script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body>
<div id="container">

<header>
{{ block "header" . }}
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  <h2>{{ .Site.Params.description }}</h2>
{{ end }}
</header>

<aside>
<div>
  <strong>Category.</strong>
  <div class="category">
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  {{ range $key, $value := $taxonomy }}
    <div class="{{ $key }}"><a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize }}">{{ $key }}</a> ({{ $value.Count }})</div>
  {{ end }}
  {{ end }}
  </div>
</div>
<div>
  {{ block "lastmodified" . }}
  <strong>Last modified.</strong>
  {{ range first 10 .Data.Pages.ByLastmod }}
    <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
    <div>@{{ .Date }}</div>
  {{ end }}
  {{ end }}
</div>
</aside>

<div class="main">
  <section>
  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
  <pre class="summary">{{ .Summary }}</pre>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
  </section>
  <amp-ad type="adsense"
    layout="responsive"
    width=300
    height=250
    data-ad-client="ca-pub-3395565787038716"
    data-ad-slot="6217845612">
  </amp-ad>
</div>

<footer>
{{ block "footer" . }}
  <p>{{ .Site.Params.copyright }}<p>
  <p>Powered by {{ .Site.Params.poweredby }}<p>
  {{ partial "snsparts.html" }}
{{ end }}
{{ block "analytics" . }}
{{ end }}
</footer>

</div>
</body>
</html>
